In [1]:
import sqlite3

In [4]:
connection = sqlite3.connect('Ã©xample.db')
connection

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text 
    )
''')

connection.commit()

In [ ]:
cursor.execute('''
Select * from employees
''')

In [11]:
cursor.execute('''
Insert Into employees(name,age,department)
               values('Tarra',32,'Data Scientist')
''')


cursor.execute('''
Insert Into employees(name,age,department)
               values('Sai',23,'Engineer')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Sri',24,'CEO')
               ''')

connection.commit()

In [13]:
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Tarra', 32, 'Data Scientist')
(2, 'Sai', 23, 'Engineer')
(3, 'Sri', 24, 'CEO')

In [15]:
cursor.execute('''
UPDATE employees 
    Set age = 12
    where name="Sai"
               
''')

connection.commit()

In [16]:
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Tarra', 32, 'Data Scientist')
(2, 'Sai', 12, 'Engineer')
(3, 'Sri', 24, 'CEO')

In [17]:
cursor.execute('''
delete from employees
    where name = 'Sai'
''')

connection.commit()

In [18]:
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Tarra', 32, 'Data Scientist')
(3, 'Sri', 24, 'CEO')